In [2]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [3]:
import numpy as np
import pandas as pd
import datetime as dt

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import select
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Integer, String, Float

In [5]:
# Create engine to hawaii.sqlite

engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [6]:
# Reflect an existing database into a new model

Base = automap_base()
Base.prepare(engine, reflect=True)

In [7]:
# Reflect 'measurement'

inspector = inspect(engine)
columns = inspector.get_columns('Measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [8]:
# Reflect 'station'

columns = inspector.get_columns('Station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [9]:
# View all of the classes that automap found

Base.classes.keys()
Measurement = Base.classes.measurement
Station = Base.classes.station

In [71]:
# Save references to each table

measurement_db = pd.read_sql("SELECT * FROM measurement", conn)
station_db = pd.read_sql("SELECT* From station", conn)
combineddb = pd.merge(measurement_db, station_db, on="station", how="inner")

In [79]:
# Create our session (link) from Python to the DB
session = Session(engine)
combineddb.head()

,id_x,station,date,prcp,tobs,id_y,name,latitude,longitude,elevation
0,1,USC00519397,2010-01-01,0.08,65.0,1,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,2,USC00519397,2010-01-02,0.00,63.0,1,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,3,USC00519397,2010-01-03,0.00,74.0,1,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,4,USC00519397,2010-01-04,0.00,76.0,1,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,5,USC00519397,2010-01-06,NaN,73.0,1,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

# Exploratory Precipitation Analysis

In [73]:
# Find the most recent date in the data set.
combineddb['date'] = pd.to_datetime(combineddb['date'])
datec = combineddb['date'].max()
print(datec)

2017-08-23 00:00:00

In [127]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 

reorders = session.query(Measurement.date, Measurement.prcp).\
    order_by(Measurement.date.desc()).all()
    
dates = [reorder[1] for reorder in reorders[:]]
prcps = [int(reorder[2]) for reorder in reorders[:]]

# Starting from the most recent data point in the database. 



# Calculate the date one year from the last date in data set.
year_ago = datec - dt.timedelta(days=365)
year_ago

# Perform a query to retrieve the date and precipitation scores
newdb = combineddb['date', 'prcp'].all()
for real in newdb:
    print()

# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

IndexError: tuple index out of range

In [114]:
combineddb.head()

,id_x,station,date,prcp,tobs,id_y,name,latitude,longitude,elevation
0,1,USC00519397,2010-01-01,0.08,65.0,1,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,2,USC00519397,2010-01-02,0.00,63.0,1,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,3,USC00519397,2010-01-03,0.00,74.0,1,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,4,USC00519397,2010-01-04,0.00,76.0,1,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,5,USC00519397,2010-01-06,NaN,73.0,1,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

In [91]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()